<div class="modal-header product">
    <span class="modal-title">Edit</span>
    <!--<h3 class="modal-title">Edit</h3>-->
</div>
<div class="modal-body product">
    <form>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label>Id</label>
                    <input ng-model="model.Id">
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label>Code</label>
                    <input ng-model="model.Code">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Name</label>
                    <input ng-model="model.Name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Description</label>
                    <textarea ng-model="model.Description"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Create Date</label>
                    <input ng-model="model.CreateDate">
                </div>
            </div>
        </div>


        <!--<div class="checkbox" ng-repeat="item in products">
            <label>
                <input type="checkbox" ng-click="chkChange(item)" ng-checked="selected.indexOf(item) !== -1" />
                {{item}}
            </label>
        </div>-->
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>